<?xml version="1.0" encoding="utf-8"?>
<Root>
	<ActionCodeSettings>
		<Code key="Search" value="1"  />
		<!--查詢-->
		<Code key="Add" value="2"  />
		<!--新增-->
		<Code key="Edit" value="3"  />
		<!--修改-->
		<Code key="Delete" value="4"  />
		<!--刪除-->
		<Code key="RiJie" value="5"  />
		<!--日結-->
		<Code key="QuxiaoRiJie" value="6"  />
		<!--取消日結-->
		<Code key="Follow" value="7"  />
		<!--沿用-->
		<Code key="Upload" value="8"  />
		<!--檔案上傳-->
		<Code key="Print" value="9"  />
		<!--列印-->
		<Code key="QSearch" value="10"  />
		<!--速查-->
		<Code key="FileExport" value="11"  />
		<!--檔案匯入-->
		<Code key="FileDownload" value="12"  />
		<!--檔案下載-->
		<Code key="FileExportDel" value="13"  />
		<!--匯入資料刪除-->

		<Code key="Export" value="14"  />
		<!--報表匯出-->

		<Code key="Detail" value="21"/>
		<!--采購下單詳細-->
		<Code key="Commit" value="22"/>
		<!--采購下單提交-->
		<Code key="Pass" value="23"/>
		<!--采購下單放行-->
		<Code key="Reject" value="24"/>
		<!--采購下單退回-->
		<Code key="Save" value="25"/>
		<!--采購下單保存-->
		<Code key="Quary" value="-1" />
		<!--根據URL參數獲得行爲碼-->
		<Code key="None" value="-2" />
	</ActionCodeSettings>
	<Pages>
		<Page url="~/BaseInfo/BaseInfo001.aspx" name="預算管理作業" functionid="0008" by="Search">
			<Contral name="btnAdd" member="Visible" code="Add" />
		</Page>
		<Page url="~/BaseInfo/BaseInfo001Edit.aspx" name="預算管理作業_新增、修改" functionid="0008" by="Search">
			<Contral name="btnSubmit1" member="Visible" code="Add,Edit" />
			<Contral name="btnSubmit2" member="Visible" code="Add,Edit" />
		</Page>
		<Page url="~/BaseInfo/BaseInfo001Append.aspx" name="追加預算管理作業_新增、修改" functionid="0008" by="Search">
			<Contral name="btnSubmit" member="Visible" code="Add,Edit" />
			<Contral name="btnSubmit1" member="Visible" code="Add,Edit" />
		</Page>
		<Page url="~/BaseInfo/BaseInfo003.aspx" name="廠商資料管理作業" functionid="0010" by="Search">
			<Contral name="btnAdd" member="Visible" code="Add" />
		</Page>
		<Page url="~/BaseInfo/BaseInfo003Edit.aspx" name="廠商資料管理作業_新增、修改" functionid="0010" by="Search">
			<Contral name="btnEdit" member="Visible" code="Add,Edit" />
			<Contral name="btnEditD" member="Visible" code="Add,Edit" />
		</Page>
		<Page url="~/CardType/CardType001.aspx" name="卡種群組維護作業" functionid="0024" by="Search">
			<Contral name="btnAdd" member="Visible" code="Add" />
		</Page>
		<Page url="~/CardType/CardType001Edit.aspx" name="卡種群組維護作業_新增、修改" functionid="0024" by="Search">
			<Contral name="btnEdit" member="Visible" code="Add,Edit" />
			<Contral name="btnEditD" member="Visible" code="Add,Edit" />
		</Page>
		<Page url="~/CardType/CardType008.aspx" name="晶片基本資料檔維護作業" functionid="0031" by="Search">
			<Contral name="btnAdd" member="Visible" code="Add" />
		</Page>
		<Page url="~/CardType/CardType008Edit.aspx" name="晶片基本資料檔維護作業_新增、修改" functionid="0031" by="Search">
			<Contral name="btnEdit" member="Visible" code="Add,Edit" />
			<Contral name="btnEditD" member="Visible" code="Add,Edit" />
		</Page>
		<Page url="~/Depository/Depository002.aspx" name="采購下單放行作業" functionid="0034" by="Search">
			<Contral name="btnAdd" member="Visible" code="Add" />
		</Page>
		<Page url="~/Depository/Depository002Add.aspx" name="采購下單放行作業_新增、修改" functionid="0034" by="Search">
			<Contral name="btnCommit" member="Visible" code="Commit" />
			<Contral name="btnCommitD" member="Visible" code="Commit" />
			<Contral name="Button2" member="Visible" code="Add" />
			<Contral name="gvpbORDERFORMDETAIL.9" member="Visible" code="Delete" />

		</Page>
		<Page url="~/Depository/Depository002Detail.aspx" name="采購下單詳細_新增、修改" functionid="0034" by="Search">
			<Contral name="btnEdit" member="Visible" code="Add,Edit" />
			<Contral name="btnEditD" member="Visible" code="Add,Edit" />
		</Page>
		<Page url="~/Depository/Depository002Detaila.aspx" name="采購下單詳細_新增、修改" functionid="0034" by="Search">
			<Contral name="btnEdit" member="Visible" code="Add,Edit" />
			<Contral name="btnEditD" member="Visible" code="Add,Edit" />
		</Page>
		<Page url="~/Depository/Depository002Mod.aspx" name="采購下單放行作業_新增、修改" functionid="0034" by="Search">
			<Contral name="btnEdit" member="Visible" code="Delete"/>
			<Contral name="btnEditD" member="Visible" code="Delete"/>
			<Contral name="btnCommit" member="Visible" code="Commit" />
			<Contral name="btnCommitD" member="Visible" code="Commit" />
			<Contral name="btnPass" member="Visible" code="Pass" />
			<Contral name="btnPassD" member="Visible" code="Pass" />
			<Contral name="btnReturn" member="Visible" code="Reject" />
			<Contral name="btnReturnD" member="Visible" code="Reject" />
			<Contral name="Button2" member="Visible" code="Add" />
			<Contral name="gvpbORDERFORMDETAIL.9" member="Visible" code="Delete" />
		</Page>
		<Page url="~/Depository/Depository002Query.aspx" name="采購下單查詢" functionid="0035" by="Search">
			<Contral name="query" member="Visible" code="Add,Edit" />
		</Page>

		<Page url="~/BaseInfo/BaseInfo041.aspx" name="角色管理" functionid="0069" by="Search">
			<Contral name="btnAdd" member="Visible" code="Add" />
			<Contral name="gvpbdRoles.2" member="Visible" code="Edit" />
		</Page>
		<Page url="~/BaseInfo/BaseInfo041Edit.aspx" name="角色管理作業_新增、修改" functionid="0069" by="Search">
			<Contral name="btnSubmit1" member="Visible" code="Add,Edit" />
			<Contral name="btnSubmit2" member="Visible" code="Add,Edit" />
		</Page>

		<Page url="~/BaseInfo/BaseInfo042.aspx" name="使用者資料維護" functionid="0070" by="Search">
			<Contral name="gvpbUsers.4" member="Visible" code="Edit" />
			<Contral name="btnLDAP" member="Visible" code="Edit" />
		</Page>
		<Page url="~/BaseInfo/BaseInfo042Edit.aspx" name="使用者資料維護_新增、修改" functionid="0070" by="Search">
			<Contral name="btnSubmit" member="Visible" code="Edit" />
		</Page>
		<Page url="~/BaseInfo/BaseInfo008.aspx" name="特殊材質基本檔" functionid="0075" by="Search">
			<Contral name="btnAdd" member="Visible" code="Add" />
		</Page>
		<Page url="~/BaseInfo/BaseInfo008Add.aspx" name="特殊材質基本檔" functionid="0075" by="Search">
			<Contral name="btnAddUp" member="Visible" code="Add" />
			<Contral name="btnAddDown" member="Visible" code="Add" />
		</Page>
		<Page url="~/BaseInfo/BaseInfo008Edit.aspx" name="特殊材質基本檔" functionid="0075" by="Search">
			<Contral name="btnEditUp" member="Visible" code="Edit" />
			<Contral name="btnEditDown" member="Visible" code="Edit" />
		</Page>
		<Page url="~/BaseInfo/BaseInfo010.aspx" name="公式定義" functionid="0077" by="Search">
			<Contral name="btnSubmit" member="Visible" code="Edit" />
		</Page>
		<Page url="~/BaseInfo/BaseInfo011.aspx" name="卡種狀況" functionid="0078" by="Search">
			<Contral name="btnAdd" member="Visible" code="Add" />
		</Page>
		<Page url="~/BaseInfo/BaseInfo011Add.aspx" name="卡種狀況新增" functionid="0078" by="Search">
			<Contral name="btnAddUp" member="Visible" code="Add" />
			<Contral name="btnAddDown" member="Visible" code="Add" />
		</Page>
		<Page url="~/BaseInfo/BaseInfo011Edit.aspx" name="卡種狀況修改/刪除" functionid="0078" by="Search">
			<Contral name="btnEditUp" member="Visible" code="Edit" />
			<Contral name="btnEditDown" member="Visible" code="Edit" />
		</Page>

		<Page url="~/Materiel/Materiel001.aspx" name="信封基本資料" functionid="0021" by="Search">
			<Contral name="btnAdd" member="Visible" code="Add" />
		</Page>
		<Page url="~/Materiel/Materiel001Add.aspx" name="信封基本資料新增" functionid="0021" by="Search">
			<Contral name="btnSubmit1" member="Visible" code="Add" />
			<Contral name="btnSubmit2" member="Visible" code="Add" />
		</Page>
		<Page url="~/Materiel/Materiel001Mod.aspx" name="信封基本資料修改" functionid="0021" by="Search">
			<Contral name="btnSubmit1" member="Visible" code="Edit" />
			<Contral name="btnSubmit2" member="Visible" code="Edit" />
		</Page>

		<Page url="~/Materiel/Materiel002.aspx" name="寄卡單基本資料" functionid="0022" by="Search">
			<Contral name="btnAdd" member="Visible" code="Add" />
		</Page>
		<Page url="~/Materiel/Materiel002Add.aspx" name="寄卡單基本資料新增" functionid="0022" by="Search">
			<Contral name="btnSubmit1" member="Visible" code="Add" />
			<Contral name="btnSubmit2" member="Visible" code="Add" />
		</Page>
		<Page url="~/Materiel/Materiel002Mod.aspx" name="寄卡單基本資料修改" functionid="0022" by="Search">
			<Contral name="btnSubmit1" member="Visible" code="Edit" />
			<Contral name="btnSubmit2" member="Visible" code="Edit" />
		</Page>
		<Page url="~/Materiel/Materiel002Img.aspx" name="寄卡單基本資料維護" functionid="0022" by="Search">
		</Page>
		<Page url="~/Materiel/Materiel003.aspx" name="DM種類基本檔查詢" functionid="0023" by="Search">
			<Contral name="btnAdd" member="Visible" code="Add" />
		</Page>
		<Page url="~/Materiel/Materiel003Add.aspx" name="DM種類基本檔新增" functionid="0023" by="Search">
			<Contral name="btnSubmit1" member="Visible" code="Add" />
			<Contral name="btnSubmit2" member="Visible" code="Add" />
		</Page>
		<Page url="~/Materiel/Materiel003Mod.aspx" name="DM種類基本檔新增" functionid="0023" by="Search">
			<Contral name="btnSubmit1" member="Visible" code="Edit" />
			<Contral name="btnSubmit2" member="Visible" code="Edit" />
		</Page>

		<Page url="~/CardType/CardType004.aspx" name="Perso項目基本檔查詢" functionid="0027" by="Search">
			<Contral name="btnAdd" member="Visible" code="Add" />
		</Page>
		<Page url="~/CardType/CardType004Add.aspx" name="Perso項目基本檔新增" functionid="0027" by="Search">
			<Contral name="btnSubmit1" member="Visible" code="Add" />
			<Contral name="btnSubmit2" member="Visible" code="Add" />
		</Page>
		<Page url="~/CardType/CardType004Mod.aspx" name="Perso項目基本檔修改" functionid="0027" by="Search">
			<Contral name="btnSubmit1" member="Visible" code="Edit" />
			<Contral name="btnSubmit2" member="Visible" code="Edit" />
		</Page>
		<Page url="~/CardType/CardType0041Mod.aspx" name="Perso項目基本檔修改(製程修改/刪除)" functionid="0027" by="Search">
			<Contral name="btnSubmit1" member="Visible" code="Edit" />
			<Contral name="btnSubmit2" member="Visible" code="Edit" />
		</Page>
		<Page url="~/CardType/CardType0041Add.aspx" name="Perso項目基本檔新增" functionid="0027" by="Search">
			<Contral name="btnSubmit1" member="Visible" code="Add" />
			<Contral name="btnSubmit2" member="Visible" code="Add" />
		</Page>

		<Page url="~/BaseInfo/BASEINFO007.aspx" name="營業日期資料維護作業" functionid="0014" by="Search">
			<Contral name="btnSubmit1" member="Visible" code="Edit" />
		</Page>

		<Page url="~/CardType/CardType003Add.aspx" name="卡片版面送審檢核管理作業" functionid="0026" by="Search">
			<Contral name="btnSubmit1" member="Visible" code="Add" />
			<Contral name="btnSubmit2" member="Visible" code="Add" />
		</Page>

		<Page url="~/CardType/CardType003.aspx" name="卡片版面送審檢核管理作業" functionid="0026" by="Search">
			<Contral name="btnAdd" member="Visible" code="Add" />
		</Page>

		<Page url="~/CardType/CardType003Mod.aspx" name="卡片版面送審檢核管理作業" functionid="0026" by="Search">
			<Contral name="btnSubmit1" member="Visible" code="Edit" />
			<Contral name="btnSubmit2" member="Visible" code="Edit" />
		</Page>

		<Page url="~/CardType/CardType002.aspx" name="卡種基本資料維護作業" functionid="0025" by="Search">
			<Contral name="btnAdd" member="Visible" code="Add" />
		</Page>

		<Page url="~/CardType/CardType002Report.aspx" name="卡種基本資料維護報表" functionid="0025" by="Search">
		</Page>

		<Page url="~/CardType/CardType002Img.aspx" name="卡種基本資料維護作業" functionid="0025" by="Search">
		</Page>

		<Page url="~/CardType/CardType002Add.aspx" name="卡種基本資料維護作業新增" functionid="0025" by="Search">
			<Contral name="btnSubmit1" member="Visible" code="Add" />
			<Contral name="btnSubmit2" member="Visible" code="Add" />
		</Page>
		<Page url="~/CardType/CardType002Mod.aspx" name="卡種基本資料維護作業修改刪除" functionid="0025" by="Search">
			<Contral name="btnSubmit1" member="Visible" code="Edit" />
			<Contral name="btnSubmit2" member="Visible" code="Edit" />
		</Page>

		<Page url="~/CardType/CardType006.aspx" name="製卡類別設定查詢" functionid="0029" by="Search">
			<Contral name="btnAdd" member="Visible" code="Add" />
		</Page>
		<Page url="~/CardType/CardType006Add.aspx" name="製卡類別設定新增" functionid="0029" by="Search">
			<Contral name="btnSubmit1" member="Visible" code="Add" />
			<Contral name="btnSubmit2" member="Visible" code="Add" />
		</Page>
		<Page url="~/CardType/CardType006Edit.aspx" name="製卡類別設定修改" functionid="0029" by="Search">
			<Contral name="btnSubmit1" member="Visible" code="Edit" />
			<Contral name="btnSubmit2" member="Visible" code="Edit" />
		</Page>
		<Page url="~/CardType/CardType007.aspx" name="小計檔與匯入項目設定 " functionid="0030" by="Search">
			<Contral name="btnAdd" member="Visible" code="Add" />
		</Page>
		<Page url="~/CardType/CardType007Add.aspx" name="小計檔與匯入項目設定新增 " functionid="0030" by="Search">
			<Contral name="btnAdd1" member="Visible" code="Add" />
			<Contral name="btnAdd2" member="Visible" code="Add" />
		</Page>
		<Page url="~/CardType/CardType007Mod.aspx" name="小計檔與匯入項目設定修改、刪除" functionid="0030" by="Search">
			<Contral name="btnSubmit1" member="Visible" code="Edit" />
			<Contral name="btnSubmit2" member="Visible" code="Edit" />

		</Page>
		<Page url="~/CardType/CardType009.aspx" name="預估專案消耗卡數量" functionid="0032" by="Search">
		</Page>
		<Page url="~/Depository/Depository003.aspx" name="入庫單查詢" functionid="0036" by="Search">
			<Contral name="btnAdd" member="Visible" code="Add" />
			<Contral name="btnAddMans" member="Visible" code="Add" />
		</Page>
		<Page url="~/Depository/Depository003Add.aspx" name="入庫單人工匯入" functionid="0036" by="Search">
			<Contral name="btnSubmit" member="Visible" code="Add" />
		</Page>
		<Page url="~/Depository/Depository003AddDetail.aspx" name="入庫單人工匯入明細" functionid="0036" by="Search">
			<Contral name="btnSubmitUp" member="Visible" code="Add" />
			<Contral name="btnSubmitDn" member="Visible" code="Add" />
		</Page>
		<Page url="~/Depository/Depository003ImpAuto.aspx" name="入庫單自動匯入" functionid="0036" by="Search">
			<Contral name="btnSubmit" member="Visible" code="Add" />
		</Page>
		<Page url="~/Depository/Depository003ImpDetail.aspx" name="入庫單明細" functionid="0036" by="Search">
			<Contral name="btnSubmitUp" member="Visible" code="Add" />
			<Contral name="btnSubmitDn" member="Visible" code="Add" />
		</Page>
		<Page url="~/Depository/Depository003CaseClose.aspx" name="入庫單結案" functionid="0036" by="Search">
			<Contral name="btnSubmitUp" member="Visible" code="Add,Edit" />
			<Contral name="btnSubmitDn" member="Visible" code="Add,Edit" />
		</Page>
		<Page url="~/Depository/Depository003Mod.aspx" name="入庫單明細修改，刪除" functionid="0036" by="Search">
			<Contral name="btnSubmitUp" member="Visible" code="Edit" />
			<Contral name="btnSubmitDn" member="Visible" code="Edit" />

		</Page>
		<Page url="~/Depository/Depository004.aspx" name="退貨管理作業" functionid="0037" by="Search">
			<Contral name="btnAdd" member="Visible" code="Add" />
		</Page>
		<Page url="~/Depository/Depository004Add.aspx" name="退貨管理作業" functionid="0037" by="Search">
			<Contral name="btnSubmit" member="Visible" code="Add" />
		</Page>
		<Page url="~/Depository/Depository004Edit.aspx" name="退貨管理作業" functionid="0037" by="Search">
			<Contral name="btnSubmit" member="Visible" code="Edit" />
		</Page>
		<Page url="~/Depository/Depository009.aspx" name="物料年度預算作業" functionid="0041" by="Search">
			<Contral name="btnSubmit" member="Visible" code="Add,Edit" />
		</Page>
		<Page url="~/Depository/Depository009Detail.aspx" name="物料年度預算作業" functionid="0041" by="Search">
			<Contral name="btnSubmit" member="Visible" code="Add,Edit" />
		</Page>
		<Page url="~/Depository/Depository011.aspx" name="卡片庫存移轉" functionid="0043" by="Search">
			<Contral name="btnAdd" member="Visible" code="Add" />
		</Page>
		<Page url="~/Depository/Depository011Add.aspx" name="卡片庫存移轉新增" functionid="0043" by="Search">
			<Contral name="btnSearch" member="Visible" code="Add" />
			<Contral name="btnSubmit" member="Visible" code="Add" />
		</Page>
		<Page url="~/Depository/Depository011Mod.aspx" name="卡片庫存移轉修改、刪除" functionid="0043" by="Search">
			<Contral name="btnSubmit1" member="Visible" code="Edit" />
			<Contral name="btnSubmit2" member="Visible" code="Edit" />
		</Page>
		<Page url="~/Depository/Depository011Export.aspx" name="卡片庫存移轉匯出Excel格式" functionid="0043" by="Search">
		</Page>
		<Page url="~/CardType/CardType005.aspx" name="Perso廠與卡種設定表" functionid="0028" by="Search">
			<Contral name="btnAdd_Base" member="Visible" code="Add" />
			<Contral name="btnAdd_Special" member="Visible" code="Add" />
		</Page>
		<Page url="~/CardType/CardType005SpecialDetail_Number.aspx" name="Perso廠與卡種特殊設定明細數量" functionid="0028" by="Search">
			<Contral name="btnSubmit1" member="Visible" code="Add" />
			<Contral name="btnSubmit2" member="Visible" code="Add" />
		</Page>
		<Page url="~/CardType/CardType005SpecialDetail_Percentage.aspx" name="Perso廠與卡種特殊設定明細比率" functionid="0028" by="Search">
			<Contral name="btnSubmit1" member="Visible" code="Add" />
			<Contral name="btnSubmit2" member="Visible" code="Add" />
		</Page>
		<Page url="~/CardType/CardType005AddBase.aspx" name="Perso廠與卡種設定表新增" functionid="0028" by="Search">
			<Contral name="btnSubmit1" member="Visible" code="Add" />
			<Contral name="btnSubmit2" member="Visible" code="Add" />
		</Page>

		<Page url="~/CardType/CardType005AddSpecial.aspx" name="Perso廠與卡種特殊設定新增" functionid="0028" by="Search">
			<Contral name="btnSubmit1" member="Visible" code="Add" />
			<Contral name="btnSubmit2" member="Visible" code="Add" />
		</Page>

		<Page url="~/CardType/CardType005ModSpecial.aspx" name="Perso廠與卡種特殊設定修改/刪除 " functionid="0028" by="Search">
			<Contral name="btnSubmit1" member="Visible" code="Edit" />
			<Contral name="btnSubmit2" member="Visible" code="Edit" />
		</Page>

		<Page url="~/CardType/CardType005ModBase.aspx" name="Perso廠與卡種特殊設定修改/刪除 " functionid="0028" by="Search">
			<Contral name="btnSubmit1" member="Visible" code="Edit" />
			<Contral name="btnSubmit2" member="Visible" code="Edit" />
		</Page>

		<Page url="~/CardType/CardType005ModSpecial_Percentage.aspx" name="Perso廠與卡種特殊設定修改/刪除明細比率 " functionid="0028" by="Search">
			<Contral name="btnSubmit1" member="Visible" code="Edit" />
			<Contral name="btnSubmit2" member="Visible" code="Edit" />
		</Page>

		<Page url="~/CardType/CardType005ModSpecial_Number.aspx" name="Perso廠與卡種特殊設定修改/刪除明細數量 " functionid="0028" by="Search">
			<Contral name="btnSubmit1" member="Visible" code="Edit" />
			<Contral name="btnSubmit2" member="Visible" code="Edit" />
		</Page>

		<Page url="~/BaseInfo/BaseInfo002.aspx" name="合約" functionid="0009" by="Search">
			<Contral name="btnSubmit" member="Visible" code="Add" />
		</Page>

		<Page url="~/BaseInfo/BaseInfo002Add.aspx" name="合約新增" functionid="0009" by="Search">
			<Contral name="btnSubmitUp" member="Visible" code="Add" />
			<Contral name="btnSubmitDn" member="Visible" code="Add" />
		</Page>

		<Page url="~/BaseInfo/BaseInfo002Mod.aspx" name="合約修改" functionid="0009" by="Search">
			<Contral name="btnSubmitUp" member="Visible" code="Edit" />
			<Contral name="btnSubmitDn" member="Visible" code="Edit" />

		</Page>

		<Page url="~/BaseInfo/BaseInfo002Card.aspx" name="合約卡種" functionid="0009" by="Search">
			<Contral name="btnSubmitUp" member="Visible" code="Edit,Add" />
			<Contral name="btnSubmitDn" member="Visible" code="Edit,Add" />
		</Page>

		<Page url="~/BaseInfo/BaseInfo002Bak.aspx" name="合約備源" functionid="0009" by="Search">
			<Contral name="btnSubmitUp" member="Visible" code="Edit,Add" />
			<Contral name="btnSubmitDn" member="Visible" code="Edit,Add" />
		</Page>
		<Page url="~/BaseInfo/BaseInfo002Materiel.aspx" name="合約材質" functionid="0009" by="Search">
			<Contral name="btnSubmitUp" member="Visible" code="Edit,Add" />
			<Contral name="btnSubmitDn" member="Visible" code="Edit,Add" />
		</Page>
		<Page url="~/BaseInfo/BaseInfo002Level.aspx" name="合約級距" functionid="0009" by="Search">
			<Contral name="btnSubmitUp" member="Visible" code="Edit,Add" />
			<Contral name="btnSubmitDn" member="Visible" code="Edit,Add" />
		</Page>

		<Page url="~/InOut/InOut004.aspx" name="年度換卡預測檔" functionid="0050" by="Search">
			<Contral name="btnImport" member="Visible" code="FileExport" />
		</Page>
		<Page url="~/InOut/InOut005.aspx" name="次月換卡預測檔" functionid="0051" by="Search">
			<Contral name="btnImport" member="Visible" code="FileExport" />
		</Page>

    <!--2021-03-19 新增次月下市預測表匯入 陳永銘-->
    <Page url="~/InOut/InOut008.aspx" name="次月下市預測檔" functionid="0141" by="Search">
      <Contral name="btnImport" member="Visible" code="FileExport" />
    </Page>
		<Page url="~/Depository/Depository011_1.aspx" name="物料庫存移轉" functionid="0044" by="Search">
			<Contral name="btnAdd" member="Visible" code="Add" />
		</Page>
		<Page url="~/Depository/Depository011_1Add.aspx" name="物料庫存移轉新增" functionid="0044" by="Search">
			<Contral name="btnSubmit" member="Visible" code="Add" />
		</Page>
		<Page url="~/Depository/Depository011_1Mod.aspx" name="物料庫存移轉修改、刪除" functionid="0044" by="Search">
			<Contral name="btnSubmit" member="Visible" code="Add" />
		</Page>
		<Page url="~/Depository/Depository011_1Detail.aspx" name="物料移轉明細" functionid="0044" by="Search">
			<Contral name="btnSubmitUp" member="Visible" code="Add" />
			<Contral name="btnSubmitDn" member="Visible" code="Add" />
		</Page>

		<Page url="~/InOut/InOut001.aspx" name="小計檔匯入匯出 " functionid="0047" by="Search">
			<Contral name="btnImport" member="Visible" code="FileExport" />
			<Contral name="btnImportUp" member="Visible" code="FileExport" />
			<Contral name="btnDelImport" member="Visible" code="Edit" />
		</Page>

		<Page url="~/InOut/InOut002.aspx" name="廠商庫存異動匯入 " functionid="0048" by="Search">
			<Contral name="btnIMPORT" member="Visible" code="FileExport" />
			<Contral name="Button1" member="Visible" code="Edit" />
			<Contral name="btnUpdate" member="Visible" code="Edit" />
			<Contral name="btnDelete" member="Visible" code="Edit" />
			<Contral name="gvSearch_Factory_Change_Import.3" member="Visible" code="Edit" />
		</Page>
		<Page url="~/InOut/InOut007.aspx" name="廠商庫存異動匯入 " functionid="0129" by="Search">
			<Contral name="btnIMPORT" member="Visible" code="FileExport" />
			<Contral name="btnDelete" member="Visible" code="FileExportDel" />

		</Page>

		<Page url="~/InOut/InOut002Detail.aspx" name="廠商庫存異動匯入/新增異動 " functionid="0048" by="Search">
			<Contral name="btnSubmit1" member="Visible" code="Edit" />
			<Contral name="btnSubmit2" member="Visible" code="Edit" />
		</Page>

		<Page url="~/Depository/Depository005.aspx" name="再入庫資料" functionid="0038" by="Search">
			<Contral name="btnAdd" member="Visible" code="Add" />
		</Page>
		<Page url="~/Depository/Depository005Detail.aspx" name="再入庫資料修改" functionid="0038" by="Search">
			<Contral name="btnSubmitUp" member="Visible" code="Add" />
			<Contral name="btnSubmitDn" member="Visible" code="Add" />
		</Page>

		<Page url="~/Depository/Depository005Mod.aspx" name="再入庫資料修改，刪除" functionid="0038" by="Search">
			<Contral name="btnSubmitUp" member="Visible" code="Edit" />
			<Contral name="btnSubmitDn" member="Visible" code="Edit" />
		</Page>
		<Page url="~/Depository/Depository005Imp.aspx" name="再入庫資料匯入" functionid="0038" by="Search">
			<Contral name="btnSubmit" member="Visible" code="Add" />
			<Contral name="btnImport" member="Visible" code="Add" />
		</Page>

		<Page url="~/Depository/Depository010.aspx" name="物料庫存控管" functionid="0042" by="Search">
			<Contral name="btnDataIn" member="Visible" code="FileExport" />
			<Contral name="btnSubmit" member="Visible" code="FileExport" />
			<Contral name="btnDelete" member="Visible" code="FileExportDel" />
		</Page>

		<Page url="~/BaseInfo/BaseInfo006_CardParam.aspx" name="卡片管理參數" functionid="0083" by="Search">
			<Contral name="btnAdd" member="Visible" code="Add" />
		</Page>

		<Page url="~/BaseInfo/BaseInfo006_CardCosts.aspx" name="卡片成本帳務期間設定" functionid="0085" by="Search">
			<Contral name="btnAdd" member="Visible" code="Add" />
		</Page>

		<Page url="~/BaseInfo/BaseInfo006_CardType.aspx" name="合約級距" functionid="0082" by="Search">
			<Contral name="btnAdd" member="Visible" code="Add" />
		</Page>
		<Page url="~/BaseInfo/BaseInfo006_CardTypeAdd.aspx" name="合約級距" functionid="0082" by="Search">
			<Contral name="btnAdd" member="Visible" code="Add" />
			<Contral name="btnAdd1" member="Visible" code="Add" />
		</Page>
		<Page url="~/BaseInfo/BaseInfo006_CardTypeMod.aspx" name="合約級距" functionid="0082" by="Search">
			<Contral name="btnEdit" member="Visible" code="Edit" />
			<Contral name="btnEdit1" member="Visible" code="Edit" />
		</Page>


		<Page url="~/BaseInfo/BaseInfo006_Mat.aspx" name="物料" functionid="0084" by="Search">
			<Contral name="btnAdd" member="Visible" code="Add" />
		</Page>
		<Page url="~/BaseInfo/BaseInfo006_MatAdd.aspx" name="物料" functionid="0084" by="Search">
			<Contral name="btnAdd" member="Visible" code="Add" />
			<Contral name="btnAdd1" member="Visible" code="Add" />
		</Page>
		<Page url="~/BaseInfo/BaseInfo006_MatMod.aspx" name="物料" functionid="0084" by="Search">
			<Contral name="btnEdit" member="Visible" code="Edit" />
			<Contral name="btnEdit1" member="Visible" code="Edit" />
		</Page>


		<Page url="~/BaseInfo/BaseInfo006_Use.aspx" name="用途" functionid="0081" by="Search">
			<Contral name="btnAdd" member="Visible" code="Add" />
		</Page>
		<Page url="~/BaseInfo/BaseInfo006_UseAdd.aspx" name="用途" functionid="0081" by="Search">
			<Contral name="btnAdd" member="Visible" code="Add" />
			<Contral name="btnAdd1" member="Visible" code="Add" />
		</Page>
		<Page url="~/BaseInfo/BaseInfo006_UseMod.aspx" name="用途" functionid="0081" by="Search">
			<Contral name="btnEdit" member="Visible" code="Edit" />
			<Contral name="btnEdit1" member="Visible" code="Edit" />
		</Page>
		<Page url="~/BaseInfo/BaseInfo006_Finance.aspx" name="代製費用帳務異動項目" functionid="0126" by="Search">
			<Contral name="btnAdd" member="Visible" code="Add" />
		</Page>
		<Page url="~/BaseInfo/BaseInfo006_FinanceAdd.aspx" name="代製費用帳務異動項目" functionid="0126" by="Search">
			<Contral name="btnAdd" member="Visible" code="Add" />
			<Contral name="btnAdd1" member="Visible" code="Add" />
		</Page>
		<Page url="~/BaseInfo/BaseInfo006_FinanceMod.aspx" name="代製費用帳務異動項目" functionid="0126" by="Search">
			<Contral name="btnEdit" member="Visible" code="Edit" />
			<Contral name="btnEdit1" member="Visible" code="Edit" />
		</Page>
		<Page url="~/Depository/Depository012.aspx" name="當日安全庫存作業" functionid="0105" by="Search">
			<Contral name="btnCalculate_Click" member="Visible" code="Search" />
		</Page>
		<Page url="~/Depository/Depository012Print.aspx" name="當日安全庫存作業列印" functionid="0105" by="Search">
		</Page>
		<Page url="~/Depository/Depository013.aspx" name="每月監控作業" functionid="0106" by="Search">
			<Contral name="btnCalculate_Click" member="Visible" code="Search" />
		</Page>
		<Page url="~/Depository/Depository013Detail.aspx" name="每月監控作業詳細" functionid="0106" by="Search">
		</Page>
		<Page url="~/Depository/Depository013Print.aspx" name="每月監控作業列印" functionid="0106" by="Search">
		</Page>
		<Page url="~/Depository/Depository014.aspx" name="每日監控作業" functionid="0107" by="Search">
			<Contral name="btnCalculate_Click" member="Visible" code="Search" />
		</Page>
		<Page url="~/Depository/Depository014Detail.aspx" name="每日監控作業詳細" functionid="0107" by="Search">
		</Page>
		<Page url="~/Depository/Depository015.aspx" name="物料採購下單作業" functionid="0088" by="Search">
			<Contral name="btnAdd" member="Visible" code="Add" />
		</Page>
		<Page url="~/Depository/Depository015Add.aspx" name="物料採購下單新增" functionid="0088" by="Search">
			<Contral name="btnSubmit" member="Visible" code="Add" />
			<Contral name="btnSubmit1" member="Visible" code="Add" />
		</Page>
		<Page url="~/Depository/Depository015Mod.aspx" name="物料採購下單修改" functionid="0088" by="Search">
			<Contral name="btnSubmit" member="Visible" code="Edit" />
			<Contral name="btnSubmit1" member="Visible" code="Edit" />
		</Page>
		<Page url="~/Depository/Depository015Detail.aspx" name="物料採購訂單明細" functionid="0088" by="Search">
		</Page>

		<Page url="~/Report/Report007.aspx" name="廠商製卡卡數明細表" functionid="0108" by="Search">
			<Contral name="btnQuery" member="Visible" code="Search" />
		</Page>

		<Page url="~/Report/Report079.aspx" name="廠商卡片庫存查核表" functionid="0109" by="Search">
			<Contral name="btnQuery" member="Visible" code="Search" />
		</Page>

		<Page url="~/Report/Report016.aspx" name="匯入小計統計年報表" functionid="0117" by="Search">
			<Contral name="btnQuery" member="Visible" code="Search" />
		</Page>

		<Page url="~/Report/Report032.aspx" name="紙品物料月耗用預測報表" functionid="0112" by="Search">
			<Contral name="btnQuery" member="Visible" code="Search" />
		</Page>

		<Page url="~/Report/Report033.aspx" name="紙品物料日耗用預測報表" functionid="0113" by="Search">
			<Contral name="btnQuery" member="Visible" code="Search" />
		</Page>

		<Page url="~/CardType/CardType0041Card.aspx" name="代製項目與卡種設定" functionid="0128" by="Search">
			<Contral name="btnAdd" member="Visible" code="Add" />
		</Page>
		<Page url="~/CardType/CardType0041CardAdd.aspx" name="代製項目與卡種設定" functionid="0128" by="Search">
			<Contral name="btnAdd" member="Visible" code="Add" />
			<Contral name="btnAdd1" member="Visible" code="Add" />
		</Page>
		<Page url="~/CardType/CardType0041CardMod.aspx" name="代製項目與卡種設定" functionid="0128" by="Search">
			<Contral name="btnEdit" member="Visible" code="Edit" />
			<Contral name="btnEdit1" member="Visible" code="Edit" />
		</Page>

		<Page url="~/SysInfo/SysInfo001.aspx" name="系統管理模組" functionid="0125" by="Search">
		</Page>

		<Page url="~/Depository/Depository001.aspx" name="案件歷程查詢" functionid="0123" by="Search">
		</Page>

		<Page url="~/Depository/Depository001Detail.aspx" name="案件歷程查詢" functionid="0123" by="Search">
		</Page>

		<Page url="~/Finance/Finance004_1.aspx" name="已入庫未出帳" functionid="0100" by="Search">
		</Page>
		<Page url="~/Finance/Finance004_2.aspx" name="月庫存成本" functionid="0101" by="Search">
		</Page>
		<Page url="~/Finance/Finance004_3.aspx" name="庫存成本" functionid="0102" by="Search">
		</Page>
		<Page url="~/Finance/Finance004_4.aspx" name="晶片資本攤銷" functionid="0103" by="Search">
		</Page>
		<Page url="~/Report/Report0090.aspx" name="晶片資本攤銷" functionid="0110" by="Search">
		</Page>
		<Page url="~/SysInfo/SysInfo002.aspx" name="警訊功能" functionid="0012" by="Search">
		</Page>
		<Page url="~/SysInfo/SysInfo002Mod.aspx" name="警訊功能修改" functionid="0012" by="Search">
			<Contral name="btnEdit1" member="Visible" code="Edit" />
			<Contral name="btnEdit2" member="Visible" code="Edit" />
		</Page>
		<Page url="~/Report/Report024.aspx" name="換卡預測月報表" functionid="0121" by="Search">
		</Page>
		<Page url="~/Report/Report025.aspx" name="換卡預測物料月報表" functionid="0114" by="Search">
		</Page>
		<Page url="~/Report/Report019.aspx" name="卡片多功能報表" functionid="0120" by="Search">
		</Page>
		<Page url="~/Report/Report019Report.aspx" name="卡片多功能報表" functionid="0120" by="Search">
		</Page>
		<Page url="~/Report/Report031.aspx" name="晶片規格變化表" functionid="0122" by="Search">
		</Page>
		<Page url="~/Report/Report013.aspx" name="廠商物料庫存表" functionid="0111" by="Search">
		</Page>
		<Page url="~/Report/Report014.aspx" name="代製製損率報表" functionid="0115" by="Search">
		</Page>
		<Page url="~/Report/Report015.aspx" name="製損卡統計月報表" functionid="0116" by="Search">
		</Page>
		<Page url="~/Report/Report017.aspx" name="每日發卡數統計表" functionid="0118" by="Search">
		</Page>
		<Page url="~/Report/Report018.aspx" name="每月發卡數統計表" functionid="0119" by="Search">
		</Page>
		<Page url="~/InOut/InOut003.aspx" name="卡片庫存日結作業" functionid="0049" by="Search">
			<Contral name="btnCheckDate" member="Visible" code="RiJie" />
			<Contral name="btnCancelCheckDate" member="Visible" code="QuxiaoRiJie" />
		</Page>
		<Page url="~/Finance/Finance0011.aspx" name="請款放行作業" functionid="0090" by="Search">
			<Contral name="btnAdd" member="Visible" code="Add" />
		</Page>
		<Page url="~/Finance/Finance0011Add.aspx" name="請款放行作業新增" functionid="0090" by="Search">
			<Contral name="btnSubmit2" member="Visible" code="Add" />
			<Contral name="btnSubmit1" member="Visible" code="Add" />
		</Page>

		<Page url="~/Finance/Finance0011Add_1.aspx" name="請款放行作業拆單確認 " functionid="0090" by="Search">
		</Page>

		<Page url="~/Finance/Finance0011Add_2.aspx" name="請款放行作業新增" functionid="0090" by="Search">
		</Page>

		<Page url="~/Finance/Finance0011Add_2Print.aspx" name="請款放行作業報表" functionid="0090" by="Search">
		</Page>

		<Page url="~/Finance/Finance0011Mod.aspx" name="請款放行作業修改/刪除 " functionid="0090" by="Search">
			<Contral name="btnSubmit1" member="Visible" code="Edit" />
			<Contral name="btnSubmit2" member="Visible" code="Edit" />
			<Contral name="btnOK1" member="Visible" code="Commit" />
			<Contral name="btnOK2" member="Visible" code="Commit" />
			<Contral name="btnPass1" member="Visible" code="Pass" />
			<Contral name="btnPass2" member="Visible" code="Pass" />
			<Contral name="btnUntread1" member="Visible" code="Reject" />
			<Contral name="btnUntread2" member="Visible" code="Reject" />
		</Page>
		<Page url="~/Finance/Finance0012.aspx" name="總行會計付款資訊作業" functionid="0091" by="Search">
		</Page>
		<Page url="~/Finance/Finance0012Edit.aspx" name="總行會計付款資訊修改 " functionid="0091" by="Search">
			<Contral name="btnSubmit1" member="Visible" code="Edit" />
			<Contral name="btnSubmit2" member="Visible" code="Edit" />
		</Page>
		<Page url="~/Finance/Finance0013.aspx" name="帳務查詢 " functionid="0092" by="Search">
			<Contral name="btnSubmit" member="Visible" code="Add" />
		</Page>
		<Page url="~/Finance/Finance0021.aspx" name="請款及總行會計付款資訊作業  " functionid="0094" by="Search">
			<Contral name="btnAdd" member="Visible" code="Add" />
		</Page>
		<Page url="~/Finance/Finance0021Add.aspx" name="請款及總行會計付款資訊作業  " functionid="0094" by="Search">
			<Contral name="btnCal" member="Visible" code="Add" />
		</Page>
		<Page url="~/Finance/Finance0021Edit.aspx" name="請款修改" functionid="0094" by="Search">
			<Contral name="btnSumbit" member="Visible" code="Edit" />
		</Page>
		<Page url="~/Finance/Finance0022.aspx" name="委外製卡費用" functionid="0095" by="Search">
			<Contral name="btnSubmit" member="Visible" code="Add" />
		</Page>
		<Page url="~/Finance/Finance0023.aspx" name="一般代製費用明細查詢" functionid="0096" by="Search">
			<Contral name="btnQuery" member="Visible" code="Search" />
		</Page>
		<Page url="~/Finance/Finance0031.aspx" name="物料請款帳務" functionid="0098" by="Search">
			<Contral name="btnAdd" member="Visible" code="Add" />
		</Page>
		<Page url="~/Finance/Finance0031Add.aspx" name="物料及郵資費用請款確認" functionid="0098" by="Search">
		</Page>
		<Page url="~/Finance/Finance0031Add1.aspx" name="請款及總行會計付款資訊新增" functionid="0098" by="Search">
		</Page>
		<Page url="~/Finance/Finance0031Mod.aspx" name="請款及總行會計付款資訊修改" functionid="0098" by="Search">
			<Contral name="btnSubmit1" member="Visible" code="Edit" />
			<Contral name="Button1" member="Visible" code="Edit" />
		</Page>
		<Page url="~/Finance/Finance0024.aspx" name="代製費用異動" functionid="0104" by="Search">
			<Contral name="btnSave" member="Visible" code="FileExport" />
			<Contral name="btnCancel" member="Visible" code="FileExport" />
			<Contral name="btnDeldata" member="Visible" code="FileExportDel" />
			<Contral name="btnDataIn" member="Visible" code="FileExport" />
			<Contral name="btnQuery" member="Visible" code="Search" />
			<Contral name="btnAddP" member="Visible" code="Add" />
			<Contral name="btnQuery2" member="Visible" code="Search" />
			<Contral name="btnAddF" member="Visible" code="Add" />
			<Contral name="gvbProject.7" member="Visible" code="Edit" />
			<Contral name="gvbFinance.7" member="Visible" code="Edit" />
		</Page>
		<Page url="~/Finance/Finance0024Addp.aspx" name="例外代製項目明細" functionid="0104" by="Search">
			<Contral name="btnEdit" member="Visible" code="Add,Edit" />
			<Contral name="btnEditD" member="Visible" code="Add,Edit" />
		</Page>
		<Page url="~/Finance/Finance0024Addf.aspx" name="代製費用帳務異動明細" functionid="0104" by="Search">
			<Contral name="btnEdit" member="Visible" code="Add,Edit" />
			<Contral name="btnEditD" member="Visible" code="Add,Edit" />
		</Page>

		<Page url="~/Depository/Depository016.aspx" name="物料庫存異動" functionid="0130" by="Search">
			<Contral name="btnSearch" member="Visible" code="Search" />
			<Contral name="btnAdd" member="Visible" code="Add" />
		</Page>
		<Page url="~/Depository/Depository016Add.aspx" name="物料庫存異動新增" functionid="0130" by="Search">
			<Contral name="btnSubmit" member="Visible" code="Add" />
			<Contral name="btnSubmit1" member="Visible" code="Add" />
		</Page>
		<Page url="~/Depository/Depository016Mod.aspx" name="物料庫存異動修改、刪除" functionid="0130" by="Search">
			<Contral name="btnSubmit" member="Visible" code="Edit" />
		</Page>
		<Page url="~/Depository/Depository016Detail.aspx" name="物料庫存異動明細" functionid="0130" by="Search">
			<Contral name="btnSubmitUp" member="Visible" code="Add" />
			<Contral name="btnSubmitDn" member="Visible" code="Add" />
		</Page>
    <!--Legend 2018/04/03 新加分頁權限-->
    <Page url="~/None.aspx" name="警訓功能" functionid="0140" by="Search">
      <Contral name="btnSubmit" member="Visible" code="Edit" />
    </Page>
	</Pages>
</Root>

