<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="c:\log\Exception.log" header="((((------------------------------------" footer="))))------------------------------------" formatter="Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" name="FlatFile Exception"/>
      <add fileName="c:\log\trace.log" header="((((------------------------------------" footer="))))------------------------------------" formatter="Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" name="FlatFile General"/>
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}&#xA;Message: {message}&#xA;Category: {category}&#xA;Title:{title}&#xA;Machine: {machine}&#xA;}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Text Formatter"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="Exception">
        <listeners>
          <add name="FlatFile Exception"/>
        </listeners>
      </add>
      <add switchValue="All" name="General">
        <listeners>
          <add name="FlatFile General"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="FlatFile Exception"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <dataConfiguration defaultDatabase="Connection_System"/>
  <connectionStrings>
    <!--<add name="Connection_System" connectionString="Password=1qazxsw2;Persist Security Info=True;User ID=CIMSUSER;Initial Catalog=CTCB_CIMS;Data Source=10.24.76.7,1803;connect timeout=300" providerName="System.Data.SqlClient"/>-->
    <add name="Connection_System" connectionString="Password=vm3jo3xjp6;Persist Security Info=True;User ID=sa;Initial Catalog=CSCS_CIMS;Data Source=(local)\MSSQLSERVER_2019;Connection Reset=True" providerName="System.Data.SqlClient"/>

    <add name="Connection_Report" connectionString="Password=cimusr;Persist Security Info=True;User ID=cimusr;Initial Catalog=ReportServer;Data Source=192.168.33.39,1803" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--<add key="ReportServerUrl" value="http://10.24.64.13/ReportServer"/>-->
    <add key="ReportServerUrl" value="http://192.168.2.105/ReportServer"/>
    
    <add key="ReportPath" value="/CIMSReport/"/>
    <add key="PageActionSettingFile" value="~/PageAction.Config"/>
    <add key="LDAP_IP" value="192.168.31.41"/>
    <!--<add key="LDAP_IP" value="192.168.212.161"/>-->
    <add key="LDAP_PORT" value="389"/>
    <add key="LDAP_SIDDN" value="OU=CSCS0001,OU=APPs,O=CTCB"/>
    <add key="LDAP_SIDPass" value="12QWASZX"/>
    <add key="LDAP_RootBaseDN" value="ou=HRIS,o=CTCB"/>
    <!--<add key="IsUsingLDAP" value="1"/> Legend 將值由 1 改為 2-->
    <add key="IsUsingLDAP" value="2"/>
    <add key="TestType" value="1"/>

    
    <add key="MailTitle" value="卡片管理系統警訊"/>
    
    <!--<add key="MailServerFrom" value="ap.cims@ctbcbank.com"/>
    <add key="MailFromName" value="ap.cims"/>
    <add key="MailServerID" value="ap.cims"/>
    <add key="MailServerPWD" value="ap.cims1126"/>
    <add key="MailServer" value="10.23.85.157"/>-->

    <!--發送郵箱的地址-->
    <add key="MailServerFrom" value="cloudservice@visualsoft.com.tw"/>
    <!--發送者姓名-->
    <add key="MailFromName" value="卡片庫存管理系統訊息"/>
    <!--郵箱用戶名-->
    <add key="MailServerID" value="cloudservice"/>
    <!--郵箱密碼-->
    <add key="MailServerPWD" value="@cloudservice"/>
    <!--郵箱ServerIP-->
    <add key="MailServer" value="220.130.148.192"/>
    
    <add key="MailDomainName" value="CTCB"/>
    
    <!--<add key="PageSize" value="20000"/>-->
    <add key="PageSize" value="20000"/>
    <add key="PageSizeWarning" value="100"/>
    
    <!--<add key="LogPath" value="d:\LogCIMS\"/>-->
    <add key="LogPath" value="c:\LogCIMS\"/>
    
    <add key="ReportCacheTiomOut" value="60"/>
    <add key="PrintWatermark" value="width:300;height:200;pointleft:0;pointtop:120;Font: Name=Arial Black, Size=36, Units=3, GdiCharSet=0, GdiVerticalFont=False;fcolor:ffd4d4d4;bgcolor:ffffffff;R:-30"/>
    <add key="WebName" value="../FileUpload/"/>
    <add key="SubTotalFilesPath" value="d:\CIMS\SubTotalFiles\"/>
    <add key="FactoryDepositoryFilesPath" value="d:\CIMS\FactoryDepositoryFiles\"/>
    <add key="YearReplaceCardForecastFilesPath" value="d:\CIMS\YearReplaceCardForecastFiles\"/>
    <add key="NextMonthReplaceCardForecastFilesPath" value="d:\CIMS\YearReplaceCardForecastFiles\"/>
    <add key="SpecialProjectFilesPath" value="d:\CIMS\SpecialProjectFilesPath\"/>
    <add key="MaterialStocksManager" value="d:\CIMS\MaterialStocksManager\"/>
    <!--<add key="FilePath" value="ftp://cims:e9c5rywh@172.26.100.104/aptoap/CIMS/UBIQ_UPLOAD/{0}"/>-->
    <!--3.5上傳設定表的檔案伺服器位置-->
    <add key="FilePath" value="ftp://220.130.148.192/d:/FTP/allie_cn/08-CIMS/{0}"/>
    <add key="FileName" value="PersoCardAssign.txt"/>
    
    <!--<add key="FTPRemoteIP" value="172.26.100.104"/>
    <add key="FTPRemotePathDefault" value="CIMS"/>
    <add key="FTPRemotePort" value="21"/>
    <add key="FTPUser" value="cims@carcdgftp@172.26.100.104"/>
    <add key="FTPPassword" value="e9c5rywh@8d55d3zX"/>-->

    <!--這個是放FTP文件的位置設置-->
    <add key="FTPRemoteIP" value="220.130.148.192"/>
    <add key="FTPRemotePathDefault" value="CIMS"/>
    <add key="FTPRemotePort" value="21"/>
    <add key="FTPUser" value="allie_cn"/>
    <add key="FTPPassword" value="1qaz2wsx"/>
    
    <add key="ActualDate" value="2009/03/27"/>

    <!--登錄錯誤次數-->
    <add key="LoginErrorNum" value="3"/>
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <sessionState mode="InProc" timeout="6000"/>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
        <add assembly="ADODB, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Build.Utilities, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <!--<add assembly="Microsoft.ReportViewer.ProcessingObjectModel, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />-->
        <add assembly="Microsoft.ReportViewer.Common, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
    </compilation>
    <httpHandlers>
      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type = "Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
      <!--<add verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax"/>-->
    </httpHandlers>
    <httpRuntime maxRequestLength="200000" executionTimeout="6000" appRequestQueueLimit="6000"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <customErrors mode="On"></customErrors>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  </system.webServer>
</configuration>